<form method="POST" asp-controller="Cliente" asp-action="ReceberDados" >

 <label>Informe o seu nome:</label>
 <input type="text" name="nomeCliente" required/>

<br/>

 <label>Informe a sua data de nascimento:</label>
 <input type="date" name="dataNascimento"/>

 <input type="submit" value="Enviar" />

</form>